// sass-lint:disable indentation

$body-width: 800px;
$min-body-width: 320px;
$border-width: 2px;
$button-margin-bottom: 5px;
$min-textarea-height: $min-body-width;
$max-textarea-height: 320px;

@mixin color-opt-style($color) {
	background-color: var(--theme-color-#{$color});
	color: var(--theme-color-#{$color});
}

:focus { outline: none; }

body {
	background-color: $body-bg-color;
	color: $body-fg-color;
	font-family: DejaVu Sans;
	margin: 0 auto;
	min-width: $min-body-width;
	padding: 0;
	width: $body-width;
}

@media(max-width: $body-width + 40px) {
	body { width: 95%; }
}

header {
	position: relative;
}

select.theme-select {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

div.task-cont {
}

form.task-form {
	height: var(--btn-height);
}

div.task-btn-cont {
	display: inline;
	float: right;
	text-align: right;
}

.task-btn {
	background-color: $button-bg-color;
	border: solid $border-width $border-color;
	color: $button-fg-color;
	display: none;
	height: var(--btn-height);
	margin: {
		bottom: $button-margin-bottom;
		left: 5px;
	}
	width: var(--btn-width);
}

select.filter-select {
	@extend .task-btn;
	background-color: $body-bg-color;
	color: $body-fg-color;
	display: inline-block;
	margin-left: 0;
}

select.task-color-select {
	@extend .task-btn;
	background-color: var(--theme-color-default);
	color: var(--theme-color-default);
}

option.filter-all-opt {
	background-color: $body-bg-color;
	color: $body-fg-color;
}

@each $name, $_ in $task-colors {
	option.task-color-opt[value="#{$name}"] {
		@include color-opt-style($name)
	}
}

textarea.task-textarea {
	background-color: $textarea-bg-color;
	border: none;
	box-sizing: border-box;
	box-shadow: inset 0 0 0 $border-width $border-color;
	color: $body-fg-color;
	display: none;
	height: auto;
	max-height: $max-textarea-height;
	min-height: $min-textarea-height;
	resize: none;
	padding: 2%;
	width: 100%;
	&::placeholder { color: $placeholder-color; }
}

hr {
	border: #{$border-width/2} solid $border-color;
	color: $border-color;
	margin: 0;
}

span.task-date-cont {
	display: inline-block;
	line-height: calc(var(--btn-height) + #{$button-margin-bottom});
//	vertical-align: middle;
}

div.task-text-cont {
	overflow-wrap: break-word;
//	overflow-x: auto;
	white-space: pre-wrap;
}
