// sass-lint:disable indentation

// Base16 dark
$body-bg-color: #282828;
$body-fg-color: #d8d8d8;
$border-color: #a16946;
$button-bg-color: #d8d8d8;
$button-fg-color: #181818;
$textarea-bg-color: #585858;
$placeholder-color: #b8b8b8;
$task-colors: ('default': #d8d8d8, 'red': #ab4642,
					'green': #a1b56c, 'yellow': #f7ca88,
					'blue': #7cafc2, 'purple': #ba8baf,
					'super': #dc9656);

@import 'include/colorvars';
@import 'include/pig';
